{
    "key": "{{ confluence.destination.space_key }}",
    "name": "{{ confluence.destination.space_name }}",
    "description": {
        "plain": {
            "value": "{{ confluence.destination.space_description }}",
            "representation": "plain"
        }
    },
    "metadata": {}
}

