    {
      "description": {
        "plain": {
          "representation": "{{ confluence_space_description }}",
          "value": "{{ confluence_space_name }}"
        }
      },
      "homepage": {
        "id": "{{ content_id }}"
      },
      "name": "{{ confluence_space_name }}"
    }
