{
      "copyAttachments": true,
      "copyLabels": true,
      "copyPermissions": true,
      "copyProperties": true,
      "destinationPageId": { 147587206 },
      "originalPageId": 42139650,
      "titleOptions": {
        "prefix": "string",
        "replace": "string",
        "search": "string"
      }
    }
